@model ActiveStudy.Web.Models.Schools.SchoolHomePageModel
@inject IHtmlLocalizer<SharedResource> sharedLocalizer;
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = Model.School.Title;

    var breadcrumb = new List<BreadcrumbItem>
    {
        BreadcrumbItem.Active(sharedLocalizer["Schools"].Value, Url.Action("List", "School")),
        BreadcrumbItem.InActive(Model.School.Title)
    };
}

<vc:breadcrumb items="@breadcrumb" />

<div>
    <a asp-controller="Teachers" asp-action="List" asp-route-schoolId="@Model.School.Id">
        @sharedLocalizer["Teachers"]
    </a>
    |
    <a asp-controller="Classes" asp-action="List" asp-route-schoolId="@Model.School.Id">
        @sharedLocalizer["Classes"]
    </a>
</div>
