@model ActiveStudy.Web.Models.Scheduler.CreateEventPageModel
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Page Title"];
}

<div class="container space-2">
    <!-- Apply Form -->
    <form asp-action="Create" class="js-validate">
        <input type="hidden" asp-for="SchoolId">
        <div class="row mb-3">
            <div class="col-12">
                <!-- Input -->
                <div class="js-form-message">
                    <label class="input-label" asp-for="Description">@localizer["Description"]</label>
                    <div class="input-group">
                        <input type="text" class="form-control" asp-for="Description" placeholder="@localizer["Description"]" autocomplete="off">
                    </div>
                </div>
                <!-- End Input -->
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12">
                <div class="js-form-message">
                    <label class="input-label" asp-for="ClassId">@localizer["Class"]</label>
                    <div class="input-group">
                        <select asp-for="ClassId" asp-items="@Model.Classes" class="form-control"></select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12">
                <div class="js-form-message">
                    <label class="input-label" asp-for="TeacherId">@localizer["Teacher"]</label>
                    <div class="input-group">
                        <select asp-for="TeacherId" asp-items="@Model.Teachers" class="form-control"></select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12">
                <div class="js-form-message">
                    <label class="input-label" asp-for="SubjectId">@localizer["Subject"]</label>
                    <div class="input-group">
                        <select asp-for="SubjectId" asp-items="@Model.Subjects" class="form-control"></select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-6">
                <div class="js-form-message">
                    <label class="input-label" asp-for="SubjectId">@localizer["Date"]</label>
                    <div class="input-group">
                        <input type="date" asp-for="Date" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="js-form-message">
                    <label class="input-label" asp-for="SubjectId">@localizer["From"]</label>
                    <div class="input-group">
                        <input asp-for="From" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="js-form-message">
                    <label class="input-label" asp-for="SubjectId">@localizer["To"]</label>
                    <div class="input-group">
                        <input asp-for="To" class="form-control" />
                    </div>
                </div>
            </div>
        </div>

        <div class="text-right">
            <button type="submit" class="btn btn-primary transition-3d-hover">@localizer["Save"]</button>
        </div>
    </form>
    <!-- End Apply Form -->
</div>