@model ActiveStudy.Web.Areas.EducationMaterials.Models.FlashCards.FlashCardSetCreateInputModel
@inject IViewLocalizer localizer

<h1>Create new school</h1>
<form id="test" asp-action="Create">
    <div>
        <label asp-for="Title">@localizer["Title"]</label>
        <input type="text" 
               asp-for="Title"
               placeholder="@localizer["Title"]"
               required
               autocomplete="off">
    </div>

    <div>
        <label asp-for="Description">@localizer["Description"]</label>
        <textarea asp-for="Description"
               placeholder="@localizer["Description"]"
               autocomplete="off"></textarea>
    </div>

    <div>
        <label asp-for="Public">@localizer["Public"]</label>
        <input asp-for="Public" />
    </div>

    <fieldset v-for="(card, cardIndex) in cards">
        <div>
            <input type="text"
                   :name="`Cards[${cardIndex}].Term`"
                   required/>
        </div>
        <div>
            <textarea :name="`Cards[${cardIndex}].Definition`"
                    required></textarea>
        </div>
    </fieldset>

    <div>
        <button type="button" v-on:click="add()">Add Card</button>
        <button type="submit">@localizer["Save"]</button>
    </div>
</form>

@section Scripts
{
    <script>
        const Counter = {
          data() {
            return {
              cards: [{}, {}, {}, {}]
            }
          },
          methods: {
            add() {
              this.cards.push({});
            }
          }
        }

        Vue.createApp(Counter).mount('#test')
    </script>
}
