@model ActiveStudy.Web.Areas.EducationMaterials.Models.FlashCards.FlashCardsDetailsViewModel

@{
    ViewData["Title"] = Model.Set.Title;
}

<h2>@Model.Set.Title</h2>
<p>@Model.Set.Description</p>
@if (User.Identity?.IsAuthenticated ?? false)
{
    <a asp-action="Learn" asp-route-id="@Model.Set.Id">Learn</a>
}

@foreach (var card in Model.Set.Cards)
{
    <fieldset>
        <legend>
            @card.Term
            @if (User.Identity?.IsAuthenticated ?? false)
            {
                <text>(@Model.Progress[card.Id].Progress / 10)</text>
            }
        </legend>
        <p>@card.Definition</p>
        @foreach (var clue in card.Clues)
        {
            <p><i>@clue.Text</i></p>
        }
    </fieldset>
}
