@model ActiveStudy.Web.Models.FlashCards.FlashCardsDetailsViewModel
@inject CurrentUserProvider currentUserProvider

@{
    ViewData["Title"] = Model.Set.Title;
}

<h2>@Model.Set.Title</h2>
@if (currentUserProvider.IsAuthenticated)
{
    <a asp-action="Learn" asp-route-id="@Model.Set.Id">Learn</a>
}

@foreach (var card in Model.Set.Cards)
{
    <fieldset>
        <legend>@card.Term</legend>
        <p>@card.Definition</p>
        @foreach (var clue in card.Clues)
        {
            <p><i>@clue.Text</i></p>
        }
    </fieldset>
}

@if (Model.CardsProgress.Any())
{
    <h3>My Progress</h3>
    @foreach (var card in Model.CardsProgress)
    {
        <p>@card.Card.Term (@card.Progress / 10)</p>
    }
}
