@model ActiveStudy.Web.Components.Scheduler.SchedulerModel

<table class="table">
    <tr>
        <th>N/A</th>
        @foreach (var day in Model.Schedule)
        {
            <th>@day.Key.ToString("d")</th>
        }
    </tr>
    @foreach (var lesson in Model.Lessons)
    {
        <tr>
            <td>
                @lesson.From.ToString("hh\\:mm") - @lesson.To.ToString("hh\\:mm")
            </td>
            @foreach (var day in Model.Schedule)
            {
                var e = day.Value.FirstOrDefault(e => e.From == lesson.From && e.To == lesson.To);
                @if (e == null)
                {
                    <td>
                        <a class="link" asp-controller="Scheduler" asp-action="Create"
                           asp-route-schoolId="@Model.SchoolId"
                           asp-route-day="@day.Key"
                           asp-route-classId="@Model.ClassId">Add</a>
                    </td>
                }
                else
                {
                    <td>
                        <p>@e.Subject.Title</p>
                        <p>@e.Teacher.FullName</p>
                        <p>@e.Class.Title</p>
                        <p>@e.Description</p>
                    </td>
                }
            }
        </tr>
    }
</table>