@model ActiveStudy.Web.Components.Scheduler.SchedulerModel
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>N/A</th>
            @foreach (var (day, _) in Model.Schedule)
            {
                <th style="white-space: nowrap;" class="@(day.DayOfWeek == DayOfWeek.Saturday || day.DayOfWeek == DayOfWeek.Sunday ? "bg-light" : "")">@day.ToString("ddd MMMM dd")</th>
            }
        </tr>
        @foreach (var lesson in Model.Lessons)
        {
            <tr>
                <td>
                    @lesson.From.ToString("hh\\:mm") - @lesson.To.ToString("hh\\:mm")
                </td>
                @foreach (var day in Model.Schedule)
                {
                    var e = day.Value.FirstOrDefault(e => e.From == lesson.From && e.To == lesson.To);
                    @if (e == null)
                    {
                        <td style="white-space: nowrap;" class="@(day.Key.DayOfWeek == DayOfWeek.Saturday || day.Key.DayOfWeek == DayOfWeek.Sunday ? "bg-light" : "")">
                            <a class="link" asp-controller="Scheduler" asp-action="Create"
                               asp-route-schoolId="@Model.SchoolId"
                               asp-route-day="@day.Key"
                               asp-route-classId="@Model.ClassId">Add</a>
                        </td>
                    }
                    else
                    {
                        <td style="white-space: nowrap;" class="@(e.Date.DayOfWeek == DayOfWeek.Saturday || e.Date.DayOfWeek == DayOfWeek.Sunday ? "bg-light" : "")">
                            <div>@e.Subject.Title</div>
                            <div>@e.Teacher.FullName</div>
                            <div>@e.Class.Title</div>
                        </td>
                    }
                }
            </tr>
        }
    </table>
</div>
