@model ActiveStudy.Web.Models.Shared.NavItemModel

<li class="nav-item">
    <a class="nav-link font-weight-bold @(Model.IsSelected ? "active" : "")" id="@(Model.Link)-tab" data-toggle="pill" href="#@Model.Link" role="tab" aria-controls="@Model.Link" aria-selected="@Model.IsSelected">
        <div class="d-md-flex justify-content-md-center align-items-md-center">
            @if (Model.HasIcon)
            {
                <figure class="d-none d-md-block w-100 max-w-5rem mr-3">
                    <img class="img-fluid" src="@Model.Icon" alt="SVG">
                </figure>
            }
            @Model.Title
        </div>
    </a>
</li>
