@model ActiveStudy.Domain.Crm.Scheduler.Schedule

@foreach (var (day, events) in Model)
{
    <div>
        <p>@day.ToString("d")</p>
        <ul>
            @foreach (var ent in events)
            {
                <li>
                    <p>@ent.From.ToString("hh\\:mm") - @ent.To.ToString("hh\\:mm")</p>
                    <p>@ent.Teacher.FullName</p>
                    <p>@ent.Subject.Title</p>
                    <p>@ent.Class.Title</p>
                </li>
            }
        </ul>
    </div>
}