@model ActiveStudy.Web.Models.Classes.CreateClassViewModel
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Page Title"];
}

<div class="bg-light">
    <div class="container py-3">
        <div class="row justify-content-md-between align-items-md-center">
            <div class="col-md-5 mb-3 mb-md-0">
                <!-- Breadcrumb -->
                <nav class="d-inline-block rounded" aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-no-gutter font-size-1 mb-0">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index">@localizer["School"]</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">@localizer["Page Title"]</li>
                    </ol>
                </nav>
                <!-- End Breadcrumb -->
            </div>
        </div>
    </div>
</div>

<div class="container space-2">
    <!-- Apply Form -->
    <form asp-action="Create" class="js-validate">
        <div class="row">
            <div class="col-md-6 mb-3 mb-md-5">
                <!-- Input -->
                <div class="js-form-message">
                    <label class="input-label" asp-for="Label">@localizer["Label"]</label>
                    <div class="input-group">
                        <input type="text" class="form-control" asp-for="Label" placeholder="@localizer["Label"]" required
                               autocomplete="off" data-msg="@localizer["Label is required"]">
                    </div>
                </div>
                <!-- End Input -->
            </div>

            <div class="col-md-6 mb-3 mb-md-5">
                <!-- Input -->
                <div class="js-form-message">
                    <label class="input-label" asp-for="Grade">@localizer["Grade"]</label>
                    <div class="input-group">
                        <select asp-for="Grade" asp-items="@Model.Grades" class="form-control"></select>
                    </div>
                </div>
                <!-- End Input -->
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="js-form-message">
                    <label class="input-label" asp-for="TeacherId">@localizer["Responsible Teacher"]</label>
                    <div class="input-group">
                        <select asp-for="TeacherId" asp-items="@Model.Teachers" class="form-control"></select>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-right">
            <button type="submit" class="btn btn-primary transition-3d-hover">@localizer["Save"]</button>
        </div>
    </form>
    <!-- End Apply Form -->
</div>
