@model ActiveStudy.Web.Models.Classes.ClassScheduleTemplateViewModel

@{
    ViewBag.Title = "title";
}

<table id="app" class="table">
    <thead>
        <tr>
            <th></th>
            @foreach (var dayOfWeek in Model.DayOfWeeks)
            {
                <th style="white-space: nowrap;">@dayOfWeek</th>
            }
        </tr>
    </thead>
    <tbody>
    @foreach (var period in Model.Periods)
    {
        <tr>
            <td style="white-space: nowrap;">@period.Start.ToString("hh\\:mm") - @period.End.ToString("hh\\:mm")</td>
            @foreach (var _ in Model.DayOfWeeks)
            {
                <td style="white-space: nowrap; border: 1px solid black;">
                    <schedule-item></schedule-item>
                </td>
            }
        </tr>
    }
    </tbody>
</table>

@section Scripts
{
    <script>
        const app = Vue.createApp({});
        app.component('schedule-item', {
          data() {
            return {
                enabled: true,
                teachers: @Html.Raw(Json.Serialize(Model.Teachers)),
                subjects: @Html.Raw(Json.Serialize(Model.Subjects))
            }
          },
          methods: {
          },
          template: `
<input type="checkbox" v-model="enabled" />
<div v-if="enabled" style="display: flex;flex-direction: column;">
    <select>
      <option v-for="teacher in teachers" :value="teacher.id">{{ teacher.fullName }}</option>
    </select>
    <select>
      <option v-for="subject in subjects" :value="subject.id">{{ subject.title }}</option>
    </select>
</div>`
        });

        app.mount('#app')
    </script>
}
