@model ActiveStudy.Web.Models.Classes.ClassViewModel
@inject IViewLocalizer localizer

<div class="bg-light">
    <div class="container py-3">
        <div class="row justify-content-md-between align-items-md-center">
            <div class="col-md-5 mb-3 mb-md-0">
                <!-- Breadcrumb -->
                <nav class="d-inline-block rounded" aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-no-gutter font-size-1 mb-0">
                        <li class="breadcrumb-item">
                            <a asp-controller="School" asp-action="List">@localizer["Schools"]</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-controller="School" asp-action="Details" asp-route-id="@Model.School.Id">@Model.School.Title</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-controller="Classes" asp-action="List" asp-route-schoolId="@Model.School.Id">@localizer["Classes"]</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
                    </ol>
                </nav>
                <!-- End Breadcrumb -->
            </div>
        </div>
    </div>
</div>

<div class="container space-top-1 space-bottom-lg-2">
    <!-- Content -->
    <div class="row">
        <div class="col-md-4 col-lg-3 mb-9 mb-md-0">
            <partial name="_MainInfo" for="@Model.School" />
        </div>

        <div class="col-md-8 col-lg-9 column-divider-md">
            <div class="ml-lg-2">

                <!-- Nav Classic -->
                <ul class="nav nav-classic nav-rounded nav-justified border">
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold active" asp-controller="Classes" asp-action="Details" asp-route-schoolId="@Model.School.Id" asp-route-id="@Model.Id">
                            <div class="d-md-flex justify-content-md-center align-items-md-center">
                                <figure class="d-none d-md-block w-100 max-w-5rem mr-3">
                                    <img class="img-fluid" src="/svg/icons/icon-24.svg" alt="SVG">
                                </figure>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" asp-controller="Classes" asp-action="Students" asp-route-schoolId="@Model.School.Id" asp-route-id="@Model.Id">
                            <div class="d-md-flex justify-content-md-center align-items-md-center">
                                <figure class="d-none d-md-block w-100 max-w-5rem mr-3">
                                    <img class="img-fluid" src="/svg/icons/icon-24.svg" alt="SVG">
                                </figure>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- End Nav Classic -->

                <!-- Tab Content -->
                <div class="tab-content">
                    <div class="tab-pane fade pt-6 active show">
                        <vc:scheduler schedule="@Model.Schedule"
                                      school-id="@Model.School.Id"
                                      class-id="@Model.Id">
                        </vc:scheduler>
                    </div>
                </div>
                <!-- End Tab Content -->
            </div>
        </div>
    </div>
    <!-- End Content -->
</div>