@model ActiveStudy.Web.Models.Classes.ClassViewModel
@inject IHtmlLocalizer<SharedResource> sharedLocalizer;
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["Page Title"];

    var breadcrumb = new List<BreadcrumbItem>
    {
        BreadcrumbItem.Active(sharedLocalizer["Schools"].Value, Url.Action("List", "School")),
        BreadcrumbItem.Active(Model.School.Title, Url.Action("Details", "School", new {id = Model.School.Id})),
        BreadcrumbItem.Active(sharedLocalizer["Classes"].Value, Url.Action("List", "Classes", new {schoolId = Model.School.Id})),
        BreadcrumbItem.Active(Model.Title, Url.Action("Details", "Classes", new {schoolId = Model.School.Id, id = Model.Id})),
        BreadcrumbItem.InActive(sharedLocalizer["Students"].Value)
    };
}

<vc:breadcrumb items="@breadcrumb" />
<a asp-controller="Students"
   asp-action="Create"
   asp-route-schoolId="@Model.School.Id"
   asp-route-classId="@Model.Id">@sharedLocalizer["Add Student"]</a>
<ul>
    @foreach (var student in Model.Students)
    {
        <li>
            <a asp-controller="Students"
               asp-action="Details"
               asp-route-schoolId="@Model.School.Id"
               asp-route-id="@student.Id">
                @student.FullName
            </a>
            @if (student.Relatives.Any())
            {
                <ul>
                    @foreach (var relative in student.Relatives)
                    {
                        <div>@relative.FullName @relative.Phone</div>
                    }
                </ul>
            }
        </li>
    }
</ul>
