@using ActiveStudy.Domain.Crm.Identity
@using Markdig
@model ActiveStudy.Web.Areas.Crm.Models.Schools.SchoolHomePageModel
@inject IHtmlLocalizer<SharedResource> sharedLocalizer;
@inject IViewLocalizer localizer
@inject IAccessResolver accessResolver

@{
    ViewData["Title"] = Model.School.Title;

    var breadcrumb = new List<BreadcrumbItem>
    {
        BreadcrumbItem.Active(sharedLocalizer["Schools"].Value, Url.Action("List", "School")),
        BreadcrumbItem.InActive(Model.School.Title)
    };
}

<vc:breadcrumb items="@breadcrumb" />

<div>
    @Html.Raw(Markdown.ToHtml(Model.School.Description))
</div>

<div>
    @if (await accessResolver.HasReadAccessAsync(User, Model.School.Id, Sections.Teachers))
    {
        <a asp-controller="Teachers" asp-action="List" asp-route-schoolId="@Model.School.Id">
            @sharedLocalizer["Teachers"]
        </a>
    }
    @if (await accessResolver.HasReadAccessAsync(User, Model.School.Id, Sections.Classes))
    {
        <a asp-controller="Classes" asp-action="List" asp-route-schoolId="@Model.School.Id">
            @sharedLocalizer["Classes"]
        </a>
    }
</div>

<table class="table">
    @foreach (var dayOfWeek in Model.Schedule.Values.First().Keys)
    {
        <tr>
            <th>@dayOfWeek.ToString()</th>
            <td>
                <table class="table">
                    <tr>
                        <th></th>
                        @foreach (var cls in Model.Schedule.Keys)
                        {
                            <th>@cls.Title</th>
                        }
                    </tr>
                    @foreach (var (timeSlot, _) in Model.Schedule.Values.First().EducationPeriod.Lessons)
                    {
                        <tr>
                            <td>@Model.Schedule.Values.First().EducationPeriod.Lessons[timeSlot].Start.ToString("hh\\:mm") - @Model.Schedule.EducationPeriod.Lessons[timeSlot].End.ToString("hh\\:mm")</td>

                            @foreach (var cls in Model.Schedule.Values)
                            {
                                if (cls[dayOfWeek].ContainsKey(timeSlot) && cls[dayOfWeek][timeSlot] != null)
                                {
                                    <td>@cls[dayOfWeek][timeSlot].Class.Title, @cls[dayOfWeek][timeSlot].Subject.Title, @cls[dayOfWeek][timeSlot].Teacher.FullName</td>
                                }
                                else
                                {
                                    <td>-</td>
                                }
                            }
                        </tr>
                    }
                </table>
            </td>
        </tr>
    }
</table>
