@model ActiveStudy.Web.Areas.Crm.Models.Schools.SchoolListPageModel
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Your schools"];
}

@if (Model.Schools.Any())
{
  <main id="content" role="main" class="main">
    <!-- Content -->
    <div class="content container-fluid">
      <div class="row justify-content-lg-center">
        <div class="col-lg-10">

          <!-- Filter -->
          <div class="row align-items-center mb-5">
            <div class="col">
              <h3 class="mb-0">@Model.Schools.Count() schools</h3>
            </div>
            <!-- End Col -->

            <div class="col-auto">
              <!-- Nav -->
              <ul class="nav nav-segment" id="projectsTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="grid-tab" data-bs-toggle="tab" href="#grid" role="tab" aria-controls="grid" aria-selected="true" title="Column view">
                    <i class="bi-grid"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="list-tab" data-bs-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false" title="List view">
                    <i class="bi-view-list"></i>
                  </a>
                </li>
              </ul>
              <!-- End Nav -->
            </div>
            <!-- End Col -->
          </div>
          <!-- End Filter -->

          <!-- Tab Content -->
          <div class="tab-content" id="projectsTabContent">
            <div class="tab-pane fade show active" id="grid" role="tabpanel" aria-labelledby="grid-tab">
              <div class="row row-cols-1 row-cols-md-2">
                @foreach (var school in Model.Schools)
                {
                <div class="col mb-3 mb-lg-5">
                  <!-- Card -->
                  <div class="card card-hover-shadow text-center h-100">
                    <div class="card-progress-wrap">
                      <!-- Progress -->
                      <div class="progress card-progress">
                        <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <!-- End Progress -->
                    </div>

                    <!-- Body -->
                    <div class="card-body">

                      <div class="d-flex justify-content-center mb-2">
                        <!-- Avatar -->
                        <img class="avatar avatar-lg" src="~/assets/svg/brands/google-webdev-icon.svg" alt="School @school.Title">
                      </div>

                      <div class="mb-4">
                        <h2 class="mb-1">@school.Title</h2>
                      </div>

                      <a class="stretched-link" asp-controller="School" asp-action="Details" asp-route-id="@school.Id"></a>
                    </div>
                    <!-- End Body -->

                    <!-- Footer -->
                    <div class="card-footer">
                      <!-- Stats -->
                      <div class="row col-divider">
                        <div class="col">
                          <span class="h4">19</span>
                          <span class="d-block fs-5">Classes</span>
                        </div>
                        <!-- End Col -->

                        <div class="col">
                          <span class="h4">33</span>
                          <span class="d-block fs-5">Teachers</span>
                        </div>
                        <!-- End Col -->
                      </div>
                      <!-- End Stats -->
                    </div>
                    <!-- End Footer -->
                  </div>
                  <!-- End Card -->
                </div>
                }
              </div>
              <!-- End Row -->
            </div>

            <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="list-tab">
              <div class="row row-cols-1">
                @foreach(var school in Model.Schools)
                {
                  <div class="col mb-3 mb-lg-5">
                    <!-- Card -->
                    <div class="card card-body">
                      <div class="d-flex">
                        <!-- Avatar -->
                        <div class="flex-shrink-0 me-3 me-lg-4">
                          <img class="avatar" src="~/assets/svg/brands/google-webdev-icon.svg" alt="Image Description">
                        </div>

                        <div class="flex-grow-1 ms-3">
                          <div class="row align-items-sm-center">
                            <div class="col">
                              @* <span class="badge bg-soft-secondary text-secondary p-2 mb-2">To do</span> *@

                              <h3 class="mb-1">@school.Title</h3>
                            </div>
                            <!-- End Col -->

                            <div class="col-md-3 d-none d-md-flex justify-content-md-end ms-n3">
                              <!-- Avatar Group -->
                              <div class="avatar-group avatar-group-sm avatar-circle card-avatar-group">
                                <a class="avatar" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Finch Hoot">
                                  <img class="avatar-img" src="~/assets/img/160x160/img5.jpg" alt="Image Description">
                                </a>
                                <a class="avatar avatar-soft-dark" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Bob Bardly">
                                  <span class="avatar-initials">B</span>
                                </a>
                                <a class="avatar" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Clarice Boone">
                                  <img class="avatar-img" src="~/assets/img/160x160/img7.jpg" alt="Image Description">
                                </a>
                                <a class="avatar avatar-soft-dark" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Adam Keep">
                                  <span class="avatar-initials">A</span>
                                </a>
                              </div>
                              <!-- End Avatar Group -->
                            </div>

                            @* <div class="col-auto"> *@
                            @*   <!-- Dropdown --> *@
                            @*   <div class="dropdown"> *@
                            @*     <button type="button" class="btn btn-ghost-secondary btn-icon btn-sm card-dropdown-btn rounded-circle" id="projectsListDropdown1" data-bs-toggle="dropdown" aria-expanded="false"> *@
                            @*       <i class="bi-three-dots-vertical"></i> *@
                            @*     </button> *@
                            @* *@
                            @*     <div class="dropdown-menu dropdown-menu-end" aria-labelledby="projectsListDropdown1"> *@
                            @*       <a class="dropdown-item" href="#">Rename project </a> *@
                            @*       <a class="dropdown-item" href="#">Add to favorites</a> *@
                            @*       <a class="dropdown-item" href="#">Archive project</a> *@
                            @*       <div class="dropdown-divider"></div> *@
                            @*       <a class="dropdown-item text-danger" href="#">Delete</a> *@
                            @*     </div> *@
                            @*   </div> *@
                            @*   <!-- End Unfold --> *@
                            @* </div> *@
                          </div>
                          <!-- End Row -->

                          <!-- Stats -->
                          <ul class="list-inline">
                            <li class="list-inline-item">
                              <span class="fs-5">Classes:</span>
                              <span class="fw-semi-bold text-dark">22</span>
                            </li>

                            <li class="list-inline-item">
                              <span class="fs-5">Teachers:</span>
                              <span class="fw-semi-bold text-dark">19</span>
                            </li>
                          </ul>
                          <!-- End Stats -->

                          <a class="stretched-link" asp-controller="School" asp-action="Details" asp-route-id="@school.Id"></a>
                        </div>
                      </div>
                    </div>
                    <!-- End Card -->
                  </div>
                }
              </div>
              <!-- End Row -->
            </div>
          </div>
          <!-- End Tab Content -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Content -->

  </main>
}
else
{
  <main id="content" role="main" class="main">
    <!-- Content -->
    <div class="content container-fluid">
      <div class="row justify-content-sm-center text-center py-10">
        <div class="col-sm-7 col-md-5">
          <img class="img-fluid mb-5" src="~/assets/svg/illustrations/oc-collaboration.svg" alt="Image Description" data-hs-theme-appearance="default">

          <h1>Hello, nice to see you!</h1>
          <p>You are now minutes away from creativity than ever before. Enjoy!</p>

          <form asp-controller="School" asp-action="CreateDemo">
            <button type="submit" class="btn btn-primary">Create demo</button>
          </form>
        </div>
      </div>
      <!-- End Row -->
    </div>
    <!-- End Content -->

    <!-- Footer -->

    <div class="footer">
      <div class="row justify-content-between align-items-center">
        <div class="col">
          <p class="fs-6 mb-0">&copy; Front. <span class="d-none d-sm-inline-block">2022 Htmlstream.</span></p>
        </div>
        <!-- End Col -->

        <div class="col-auto">
          <div class="d-flex justify-content-end">
            <!-- List Separator -->
            <ul class="list-inline list-separator">
              <li class="list-inline-item">
                <a class="list-separator-link" href="#">FAQ</a>
              </li>

              <li class="list-inline-item">
                <a class="list-separator-link" href="#">License</a>
              </li>

              <li class="list-inline-item">
                <!-- Keyboard Shortcuts Toggle -->
                <button class="btn btn-ghost-secondary btn btn-icon btn-ghost-secondary rounded-circle" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasKeyboardShortcuts" aria-controls="offcanvasKeyboardShortcuts">
                  <i class="bi-command"></i>
                </button>
                <!-- End Keyboard Shortcuts Toggle -->
              </li>
            </ul>
            <!-- End List Separator -->
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>

    <!-- End Footer -->
  </main>
}
