@model ActiveStudy.Web.Models.Account.CompleteInvitationInputModel
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Page Title"];
}

<form asp-route="CompleteInvitation">
    <input type="hidden" asp-for="UserId" />
    <div>
        <h1>@localizer["Welcome"]</h1>
        <p>@localizer["Subtitle"]</p>
    </div>
    @Html.ValidationSummary()

    <div>
        <label asp-for="Password">@localizer["Password"]</label>
        <input type="password" asp-for="Password" placeholder="********"
               aria-label="********" required
               data-msg="@localizer["Password is Required"]">
    </div>

    <div>
        <button type="submit">@localizer["Sign Up"]</button>
    </div>
</form>
