@model ActiveStudy.Web.Models.Account.ForgotPasswordInputModel
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Forgot your password?"];
}

<div class="container space-2 space-lg-3">
    <form asp-route="ForgotPassword" class="js-validate w-md-75 w-lg-50 mx-md-auto">
        <!-- Title -->
        <div class="mb-5 mb-md-7">
            <h1 class="h2 mb-0">@localizer["Forgot your password?"]</h1>
            <p>@localizer["Don't worry, happiness to the best of us."]</p>
        </div>
        <!-- End Title -->

        <!-- Form Group -->
        <div class="js-form-message form-group">
            <label class="input-label" asp-for="Email">@localizer["Email"]</label>
            <input type="email" class="form-control" asp-for="Email" placeholder="@localizer["Email"]" required
                   data-msg="@localizer["Please enter a valid email address"]">
        </div>
        <!-- End Form Group -->

        <!-- Button -->
        <div class="row align-items-center mb-5">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <a class="font-size-1 font-weight-bold" asp-area="" asp-controller="Account" asp-action="Login"><i class="fas fa-angle-left fa-sm mr-1"></i> @localizer["Back to sign in"]</a>
            </div>

            <div class="col-sm-6 text-sm-right">
                <button type="submit" class="btn btn-primary transition-3d-hover">@localizer["Request Reset Link"]</button>
            </div>
        </div>
        <!-- End Button -->
    </form>
</div>
