@model ActiveStudy.Web.Models.Account.ForgotPasswordInputModel
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Forgot your password?"];
}

<form asp-route="ForgotPassword">
    <div>
        <h1>@localizer["Forgot your password?"]</h1>
        <p>@localizer["Don't worry, happiness to the best of us."]</p>
    </div>

    @Html.ValidationSummary()

    <div>
        <label asp-for="Email">@localizer["Email"]</label>
        <input type="email"
               asp-for="Email"
               placeholder="@localizer["Email"]" required />
    </div>

    <div>
        <a asp-controller="Account"
           asp-action="Login">@localizer["Back to sign in"]</a>

        <button type="submit">@localizer["Request Reset Link"]</button>
    </div>
</form>
