@model ActiveStudy.Web.Models.Account.LoginInputModel
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Page Title"];
}

<form asp-route="Login">
    <div>
        <h1>@localizer["Welcome"]</h1>
        <p>@localizer["Subtitle"]</p>
    </div>
    @Html.ValidationSummary()

    <div>
        <label asp-for="Username">@localizer["Email"]</label>
        <input type="email"
               asp-for="Username"
               placeholder="@localizer["Email"]"
               required />
    </div>

    <div>
        <label asp-for="Password">@localizer["Password"]</label>
        <input type="password"
               asp-for="Password"
               placeholder="********"
               required />
    </div>

    <div>
        <button type="submit">@localizer["Get Started"]</button>
    </div>
        
    <div>
        <a asp-controller="Account" asp-action="ForgotPassword">@localizer["Forgot Password?"]</a>
    </div>
</form>
