@model ActiveStudy.Web.Models.Account.PasswordRecoveryInputModel
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Recover Password"];
}

<div class="container space-2 space-lg-3">
    <form asp-route="PasswordRecovery" class="js-validate w-md-75 w-lg-50 mx-md-auto">
        <!-- Title -->
        <div class="mb-5 mb-md-7">
            <h1 class="h2 mb-0">@localizer["Recover Password"]</h1>
            <p>@localizer["Enter a new password for your account"]</p>
        </div>
        <!-- End Title -->

        <!-- Form Group -->
        <div class="js-form-message form-group">
            <label class="input-label" asp-for="NewPassword">@localizer["New Password"]</label>
            <input type="password" class="form-control" asp-for="NewPassword" placeholder="*********" required
                   data-msg="@localizer["Please enter a new password"]">
        </div>
        <!-- End Form Group -->

        <!-- Button -->
        <div class="row align-items-center mb-5">
            <div class="col text-right">
                <button type="submit" class="btn btn-primary transition-3d-hover">@localizer["Reset My Password"]</button>
            </div>
        </div>
        <!-- End Button -->
    </form>
</div>
