@model ActiveStudy.Web.Models.Account.RegistrationInputModel
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Page Title"];
}

<form asp-route="Registration">
    <div>
        <h1>@localizer["Welcome"]</h1>
        <p>@localizer["Subtitle"]</p>
    </div>

    <div>
        <label asp-for="FirstName">@localizer["First Name"]</label>
        <input type="text"
               asp-for="FirstName"
               placeholder="@localizer["First Name"]"
               required />
    </div>

    <div>
        <label asp-for="LastName">@localizer["Last Name"]</label>
        <input type="text"
               asp-for="LastName"
               placeholder="@localizer["Last Name"]"
               required />
    </div>

    <div>
        <label asp-for="Email">@localizer["Email"]</label>
        <input type="email"
               asp-for="Email"
               placeholder="@localizer["Email"]"
               required />
    </div>

    <div>
        <label asp-for="Password">@localizer["Password"]</label>
        <input type="password"
               asp-for="Password"
               placeholder="********"
               required>
    </div>
        
    <div>
        <button type="submit">@localizer["Sign Up"]</button>
    </div>

    <div>
        <span>@localizer["Already have an account?"]</span>
        <a asp-controller="Account" asp-action="Login">@localizer["Login"]</a>
    </div>
</form>
